#something{
     background-color: rgb(31, 31, 31);
     background-image: url("nature.jpeg");
     background-repeat: no-repeat;
     background-attachment: scroll;
     background-position: center;
     padding-top: 50%;
}