
/* this is for mobile views, all sort of mobile screens come upto max dimention of width 400*/
@media only screen and (max-width: 400px){
    body{
        background-color: rgb(219, 229, 42);
    }
}

/* for tablet view, whose width come inbetween 401px-960px  are designed as*/
@media only screen and (min-width: 401px) and (max-width: 960px){
    body{
        background-color: blue;
    }
}

/* for desktops, width range 961px and above */
@media only screen and (min-width: 961px){
    body{
        background-color: green;
    }
}